{%extends "base/theme.html"%}
{% block main_content %}
<div class="row main-content">
 	<div class = "col-md-2"></div>
	 	 <div class = "col-md-8">
			{% for location in object_list %}
				
				    <h3><a href="{{location.get_absolute_url}}">{{ location.title }}</a></h3>
				    {% if location.address %} <p>Address:	{{location.address}}</p> {%endif%}
				    {% if location.hours %} <p>Hours:{{location.hours}}</p> {%endif%}
				    <p>{{location.description}}</p>
				    {% if location.image_file %}
 						<img class="img-responsive" src="{{ location.image_file.url }}"></img>
 					{% endif %}		
			{% endfor %}
		</div>
	<div class="col-md-2"></div>
</div>
{%endblock%}